/* style1.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Almarai', sans-serif;
}

body {
    direction: rtl;
    padding-top: 80px;
    background-color: #1004fd;
    color: #fff;
}

nav {
    height: 80px;
    background: #2c293a;
    color: #ffffff;
    display: flex;
    justify-content: center; /* Center the nav items horizontally */
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-items {
    display: flex;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 0 1.5rem;
    position: relative;
    font-family: 'Almarai', sans-serif;
    font-weight: 400;
}

nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: transparent;
    bottom: -5px;
    right: 0;
    transition: width 0.3s ease-out, background-color 0.3s ease-out;
}

nav a:hover::after {
    width: 100%;
    left: 0;
    right: auto;
    background-color: #ffffff;
}

.primary {
    padding-top: 10px;
    text-align: center;
    padding: 4rem 0;
}

.primary-container {
    margin: 2rem;
    padding: 2rem;
    border: 2px solid #fff;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.primary h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    border-bottom: 2px solid #fff;
    padding-bottom: 3rem;
}

.primary h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.responsive {
    max-width: 100%;
    height: auto;
}
/* Media query for larger screens */
@media (min-width: 1024px) {
    .responsive {
        max-width: 60%;
    }
}
.footer {
    background-color: #2c293a;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer p {
    margin: 0;
    font-size: 1rem;
}
